/************************************************************* 
ARIVEE SUR LA PAGE
*************************************************************/
.section-descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding: 8rem;
  background: transparent url(../campus/slider-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
}

.section-descriptions h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5rem;
  color: var(--white-color);
  line-height: 1;
}

.section-descriptions p {
  padding-top: 2rem;
  text-align: center;

}


/*****************************************************
Carousel 
*****************************************************/

.carousel-row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel-up {
  text-align: center;
  padding: 3rem 0rem;
  background-color: var(--tertiary-color);
}

.carousel-up h2 {
  color: var(--white-color);
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

/*****************************************************
Bibliothèque 
*****************************************************/

.bibliothèque {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

.biblio-left {
  flex: 45%
}

.biblio-right {
  flex: 55%
}

.biblio-pics img {
  width: 100%;
  -webkit-box-shadow: -50px -40px 0px -10px #000000;
  box-shadow: -50px -40px 0px -10px var(--yellow-color);
}

.left-title {
  text-align: left !important;
  color: var(--yellow-color);
  font-family: "Fraunces", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin: 2rem;
}

.biblio-text p {
  color: white;
  margin: 2rem;
  text-align: left !important;

}

.biblio-text {
  padding-bottom: 1.5rem;
}

/*****************************************************
Presentation  
*****************************************************/

.presentation {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
}

.presentation-container {
  display: flex;
  flex-wrap: wrap;
}

.presentation-left {
  flex: 50%;
  padding: 13rem 0rem 13rem 2rem;
}

.presentation-right {
  flex: 50%;
}

.presentation-pics-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 1rem 1rem;
}

.presentation-pics {
  margin: 0rem 0rem 1rem 0rem;
}

.presentation-pics img {
  width: 100%;
}

.presentation-pics-right img {
  width: 100%;
}

.presentation-pics,
.presentation-pics-right {
  position: relative;
  display: inline-block;
}

.presentation-text,
.presentation-text-right {
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.presentation-pics:hover .presentation-text,
.presentation-pics-right:hover .presentation-text-right {
  opacity: 1;
  border: 3px solid gray;
}

.presentation-text h2,
.presentation-text-right h2 {
  color: white !important;
  font-family: 'Comfortaa', sans-serif;
  margin: 10px;
  font-size: 1.2em;
}

.presentation-text a,
.presentation-text-right a {
  color: white !important;
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--white-color);
}

.presentation-text a:hover,
.presentation-text-right a:hover {
  background: rgba(255, 255, 255, 0.6);
}

/*****************************************************
SKYHAWKS SECTION
*****************************************************/
.skyhawks-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background: url(../images/bannnhawks.png);
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #8998A3;
}

.skyhawks-header {
  text-align: center;
  margin-bottom: 2rem;
}

.skyhawks-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.skyhawks-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.skyhawks-card:hover {
  transform: scale(1.05);
}

.skyhawks-img {
  width: 100%;
  position: relative;
}

.skyhawks-img img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.skyhawks-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.skyhawks-content {
  padding: 1.5rem;
  text-align: center;
}

.skyhawks-content h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left !important;
}

.skyhawks-content p {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: #555;
  text-align: left !important;
}

.skyhawks-header h2 {
  color: white !important;
  font-family: 'Anton', sans-serif;
}

.color-orange {
  color: #e6561a;
}